# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac System Files
.DS_Store
.AppleDouble
.LSOverride

# VS Code Settings
.vscode/

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/
